PORT=8080
NODE_ENV=development

# Database
MONGO_USER_NAME=
MONGO_PASSWORD=
MONGO_URI=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email
EMAIL_USER=
EMAIL_APP_PASSWORD=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Admin
ADMIN_SECRET_KEY=

# App
FRONTEND_URL=http://localhost:3000
MAX_TICKETS_PER_USER=5
TOTAL_EVENT_CAPACITY=350
