PORT=5000
NODE_ENV=development

# Database
MONGO_USER_NAME=
MONGO_PASSWORD=
MONGO_URI=

# Razorpay
IS_RAZOR_PAY_ENABLE=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Email
EMAIL_PROVIDER=
RESEND_API_KEY=
EMAIL_FROM=

# Use Mailtrap Email Sending SMTP by setting EMAIL_PROVIDER=mailtrap.
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USER=
MAILTRAP_PASSWORD=
MAILTRAP_API_TOKEN=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
TWILIO_SECRET=your_twilio_secret

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Admin
ADMIN_SECRET_KEY=
SCANNER_TOKEN_SECRET=

# App
FRONTEND_URL=http://localhost:3000
PUBLIC_API_URL=
