PORT=8080
NODE_ENV=development

# Database
MONGO_USER_NAME=your_mongodb_username
MONGO_PASSWORD=your_mongodb_password
MONGO_URI=mongodb://127.0.0.1:27017/ticket_booking_test?replicaSet=rs0

# Razorpay
IS_RAZOR_PAY_ENABLE=false
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_URL=

# Email
RESEND_API_KEY=
EMAIL_FROM=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
TWILIO_SECRET=your_twilio_secret

# Upstash
UPSTASH_REDIS_REST_URL="https://your-upstash-instance.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your_upstash_token"

# Admin
ADMIN_SECRET_KEY=TEDX_ADMIN_SECRET_KEY

# App
FRONTEND_URL=http://localhost:3000
PUBLIC_API_URL=http://localhost:8080
